.grid_9
	.box
		%h1
			Your instances
			%span.link
				%a{:href => '#instance'} + Add instance

		%ul
			- @user.instances.each do |instance|
				%li
					%h2
						#{instance[:name]}
						%small
							%a{:href => "/instance/manage/#{instance[:id]}"} manage
					%p
						%a{:href => "http://#{instance[:url]}.#{settings.address}", :target => '_blank'} #{instance[:url]}.#{settings.address}
						%br
						%small Added on #{instance[:created_at].strftime("%d-%b-%Y")}
						%br
						%a{:href => "/instance/delete/#{instance[:id]}"} delete
.grid_3
	%h2 First time here?
	%p
		Begin by creating a ProcessMaker instance.
		Choose a subdomain and Riverflow will create a workspace with the same name as the subdomain.
	%p
		The default user and password for a new subdomain is 'admin'

	%h2
		Invite a friend
	- if not @user[:invites] == '0'
		%p
			You have #{@user[:invites]} invitations left.
			%a{:href => '#invite'} Invite now!
	- else
		%p You don't have any invitations left.

#lightbox.box.instance
	%h1 Add an instance
	%form{:action => '/instance/add', :method => 'post'}
		%p
			%label
				%span Title
				%input{:type => 'text', :name => 'title', :placeholder => 'Company BPM', :maxlength => '23'}		
		%p
			%label.url
				%span URL
				%input{:type => 'text', :name => 'url', :maxlength => '12'}
				%small #{".riverflow.in"}

		%input{:type => 'submit', :value => 'Create instance'}

#lightbox.box.invite
	%h2 We need an email address:
	%form{:action => '/invites/add', :method => 'post'}
		%p
			%label
				%span Email Address
				%input{:type => 'email', :name => 'email', :placeholder => 'friend@mail.com', :maxlength => '67'}

		%input{:type => 'submit', :value => 'Send invitation'}
