.grid_9
	.box
		%h1
			Manage your instances
			%span.link
				%a#tourFirst{:href => '#instance'} + Add instance

		#instances_list#tourSecond
			- @user.instances.each do |instance|
				%h2
					#{instance[:name]}
					- if instance[:address]
						%small
							%a{:href => "http://#{instance[:address]}", :target => '_blank'} #{instance[:address]}
						%span
							%a{:href => '#soon', :title => 'Coming soon, we promise!', :instance_id => "#{instance[:id]}", :instance_name => "#{instance[:name]}"} Modify domain 
							or 
							%a#deleteInstance{:href => "/instance/delete/#{instance[:id]}", :title => 'DANGER! This will remove all your processes, cases and users.'} Delete
					- else
						%small
							%a{:href => "http://#{instance[:url]}.#{settings.address}", :target => '_blank'} #{instance[:url]}.#{settings.address}
						%span
							%a{:href => '#domain', :title => 'You can point this domain to your own address.', :instance_id => "#{instance[:id]}", :instance_name => "#{instance[:name]}"} + Add a domain 
							or 
							%a#deleteInstance{:href => "/instance/delete/#{instance[:id]}", :title => 'DANGER! This will remove all your processes, cases and users.'} Delete
				%p	Added on #{instance[:created_at].strftime("%b-%d-%Y")} |
					

.grid_3
	%h2
		Invite your friends
	- if not @user[:invites] <= 0
		%p
			Spread the word about Riverflow and get early access to new features. You have #{@user[:invites]} invitations left.
			%a#tourThird{:href => '#invite'} Invite now
	- else
		%p You don't have any invitations left.

	%h2 Feedback is important
	%p As a beta tester, help us improve Riverflow by sending your feedback. We are open to any comments :)

#lightbox.box.instance
	- if not @user.instances.count >= settings.instances_available
		%h2 Add an instance
		%form#addInstance{:action => '/instance/add', :method => 'post'}
			%p
				%label
					%span Write a name
					%input#instanceTitle{:type => 'text', :name => 'title', :maxlength => '23', :title => 'Enter a clear name'}		
			%p
				%label.url
					%span Also a URL
					%input#instanceUrl{:type => 'text', :name => 'url', :maxlength => '12', :title => 'No spaces or special characters'}
					%small #{".riverflow.in"}

			%input#waiting{:type => 'submit', :value => 'Create instance'}
			or
			%a.close{:href => '#'} Close

	- else
		%h2 You can create #{settings.instances_available} instances for now...
		%p ...and you have reached that limit. But stay tuned, we'll add more instances soon!


#lightbox.box.invite
	%h2 We need an email address:
	%form#invite{:action => '/invites/add', :method => 'post'}
		%p
			%label
				%span Email Address
				%input#tourThird{:type => 'email', :name => 'email', :maxlength => '67'}

		%input{:type => 'submit', :value => 'Send invitation'}
		or
		%a.close{:href => '#'} Close

#lightbox.box.domain
	%h2 Add a domain name

	%form#domain{:action => '/address/add', :method => 'post'}
		%p
			%label
				%span Domain
				%input#addDomain{:type => 'text', :name => 'address', :maxlength => '67', :title => 'A subdomain works much better :)'}
		%p
			%b NOTE:
			Add or modify
			%code 107.21.200.77
			in your domain control panel and CNAME records to enable this feature.

		%input{:type => 'submit', :value => 'Add domain name'}
		or
		%a.close{:href => '#'} Close

#lightbox.box.workspace
	%h2 Add a workspace to 
	%form#workspace{:action => "/workspace/add/", :method => 'post'}
		%p
			%label
				%span Name
				%input#workspaceName{:type => 'text', :name => 'title', :title => 'Use a lowercase, no spaces name', :maxlength => '23'}

		%input{:type => 'submit', :value => 'Create workspace'}
		or
		%a.close{:href => '#'} Close

#lightbox.box.delworkspace
	%h1 Are you sure?
	%p You'll remove all processes, cases and users from this workspace
	%form#delworkspace{:action => "/workspace/delete", :method => 'post'}
		%input{:type => 'hidden', :name => 'workspace', :value => ''}

		%input{:type => 'submit', :value => 'I am sure.'}
		
/ Tour by JoyRide
%ol#riverflowTour
	%li{:data => {:id => 'homie'}}
		%h5 Getting started
		%p Time to have your first BPM instance in the cloud. To continue, click next.
	%li{:data => {:id => 'tourFirst'}}
		%h5 Create your instance
		%p Fill in the name and url of your instance to create it.
	%li{:data => {:id => 'tourSecond'}}
		%h5 See your instances
		%p Your instances will appear after some seconds here.
	%li{:data => {:id => 'tourThird'}}
		%h5 Send some invitations
		%p You'll get rewarded by gaining access to the new and exciting features prepared for Riverflow.
	%li{:data => {:id => 'homie', :text => 'close'}}
		%h5 Enjoy Riverflow!
		%p I want to thank you for your interest in this tool :) Now, close this and start with BPM in the cloud.
		%p Yamil.