.grid_9
	.box
		%h1
			Manage your instances
			%span.link
				%a{:href => '#instance'} + Add instance

		#instances_list
			- @user.instances.each do |instance|
				%h2
					#{instance[:name]}
					%small
						%a{:href => "http://#{instance[:url]}.#{settings.address}", :target => '_blank'} #{instance[:url]}.#{settings.address}
					%span
						%a#deleteInstance{:href => "/instance/delete/#{instance[:id]}", :title => 'DANGER! This will remove all your processes, cases and users.'} Delete
				%p	Added on #{instance[:created_at].strftime("%b-%d-%Y")} |
					

.grid_3
	%h2 We are on Beta now
	%p Some things may look pretty basic, but this is just the beginning. Help us improve Riverflow.

	%h2
		Invite a friend
	- if not @user[:invites] == '0'
		%p
			Enjoying the service? You have #{@user[:invites]} invitations left, so make good use of them.
			%a{:href => '#invite'} Invite now
	- else
		%p You don't have any invitations left.


#lightbox.box.instance
	- if not @user.instances.count >= settings.instances_available
		%h2 Add an instance
		%form#addInstance{:action => '/instance/add', :method => 'post'}
			%p
				%label
					%span Write a name
					%input#instanceTitle{:type => 'text', :name => 'title', :placeholder => 'My BPM', :maxlength => '23', :title => 'Enter a clear name'}		
			%p
				%label.url
					%span Also a URL
					%input#instanceUrl{:type => 'text', :name => 'url', :maxlength => '12', :title => 'No spaces or special characters', :placeholder => 'subdomain'}
					%small #{".riverflow.in"}

			%input{:type => 'submit', :value => 'Create instance'}
	- else
		%h2 You can create #{settings.instances_available} instances for now...
		%p ...and you have reached that limit. But stay tuned, we'll add more instances soon!

#lightbox.box.invite
	%h2 We need an email address:
	%form#invite{:action => '/invites/add', :method => 'post'}
		%p
			%label
				%span Email Address
				%input#inviteEmail{:type => 'email', :name => 'email', :placeholder => 'friend@mail.com', :maxlength => '67'}

		%input{:type => 'submit', :value => 'Send invitation'}

#lightbox.box.workspace
	%h2 Add a workspace to 
	%form#workspace{:action => "/workspace/add/", :method => 'post'}
		%p
			%label
				%span Name
				%input#workspaceName{:type => 'text', :name => 'title', :title => 'Use a lowercase, no spaces name', :maxlength => '23'}

		%input{:type => 'submit', :value => 'Create workspace'}

#lightbox.box.delworkspace
	%h1 Are you sure?
	%p You'll remove all processes, cases and users from this workspace
	%form#delworkspace{:action => "/workspace/delete", :method => 'post'}
		%input{:type => 'hidden', :name => 'workspace', :value => ''}

		%input{:type => 'submit', :value => 'I am sure.'}