%p The following ProcessMaker instance has been created on Riverflow:

%code
	#{@name}
	%a{:href => "http://#{@url}.#{settings.address}"} #{@url}.#{settings.address}

%p
	If for any reason you need to delete the instance, you can do so by going to your Control Panel
	%a{:href => "http://#{settings.address}/instances"} #{settings.address}/instances

%p
	Yamil Urbina
	%a{:href => 'http://yamilurbina.com'} yamilurbina.com
