!!!5
%html
	%head
		%meta{:charset => 'utf8'}
		%meta{:name => "viewport", :content => "width=device-width"}
		%title #{@page_title} | Riverflow
		%link{:href => settings.fontdeck_css, :rel => 'stylesheet'}
		%link{:href => '/styles.css', :rel => 'stylesheet'}
		%meta{:name => 'description', :content => "Riverflow allows you to have BPM in the cloud. ProcessMaker server and database configurations, upgrades and backups. We cover them all."}
	%body
		.wrapper
			#header
				.container_12
					- if flash[:alert]
						.msg.alert
							%p= flash[:alert]

					- if flash[:notice]
						.msg.notice
							%p= flash[:notice]

					- if flash[:warning]
						.msg.warning
							%p= flash[:warning]

					- if flash[:info]
						.msg.info
							%p= flash[:info]

					- if flash[:success]
						.msg.success
							%p= flash[:success]

					- if flash[:error]
						.msg.error
							%p= flash[:error]

					.grid_4
						%h1
							%a#eastit{:href => '/', :title => 'Back to home'} Riverflow
					.grid_8
						%ul.main_menu
							- if not session?
								%li
									%a{:href => '/login'} Login
							- else
								%li
									%span
										Hey there, #{session[:name]}
								/ %li
								/ %a{:href => '/starting'} Getting started
								%li
									%a{:href => '/settings'} Settings
								%li
									%a{:href => '/logout'} Logout

			#content
				.container_12
					= yield

			#footer
				.container_12
					.grid_10
						%p
							&copy; 2012 Riverflow.
							A product by 
							%a{:href => 'http://yamilurbina.com'} @yamilurbina
							based on
							%a{:href => 'http://processmaker.com'} ProcessMaker


		%script{:src => '/js/libs/jquery-1.7.2.min.js'}
		%script{:src => '/js/libs/jquery.lightbox_me.js'}
		%script{:src => '/js/libs/jquery.tipsy.js'}
		%script{:src => '/js/libs/jquery.mask.min.js'}
		%script{:src => '/js/libs/happy.js'}
		%script{:src => '/js/libs/happy.methods.js'}
		%script{:src => '/js/script.js'}

		%script{:src => "//static.getclicky.com/js"}
		%script{:type => "text/javascript"}
			try{ clicky.init(#{settings.clicky_track_number}); }catch(e){}
		:plain
			<script type="text/javascript">
			  var uvOptions = {};
			  (function() {
			    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
			    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/3j6lFAoXFHQYwTl1GpYBw.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
			  })();
			</script>