.grid_9
	.box
		%h1
			=@page_title
			%small= @instance[:url]
			%span.link
				%a{:href => '#workspace'} + Add workspace

		%h2 Workspaces
		%ul
			- @workspaces.each do |workspace|
				%li
					= workspace[:name]
					%small Added on #{workspace[:created_at].strftime("%d-%b-%Y")}
		%p Yes!

.grid_3
	%h2 Managing instances
	%p After you create an instance, it's time for you to create workspaces in ProcessMaker.

#lightbox.box.workspace
	%h1 Add a workspace to #{@instance[:name]}
	%p Use a lowercase, no spaces name
	%form{:action => "/workspace/add/#{params[:id]}", :method => 'post'}
		%p
			%label
				%span Name
				%input{:type => 'text', :name => 'title', :placeholder => 'Latinamerica Branch', :maxlength => '23'}

		%input{:type => 'submit', :value => 'Create workspace'}